/Makefile
/Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
compiler/cpp/.deps
compiler/cpp/Makefile
compiler/cpp/Makefile.in
compiler/cpp/*.o
compiler/cpp/thrift
compiler/cpp/thriftl.cc
compiler/cpp/thrifty.cc
compiler/cpp/thrifty.h
config.*
configure
configure.lineno
configure.scan
depcomp
if/Makefile
if/Makefile.in
install-sh
lib/c/.deps
lib/c/*.la
lib/c/.libs
lib/c/*.lo
lib/c/Makefile
lib/c/Makefile.in
lib/c/*.o
lib/c/*.pc
lib/cpp/concurrency_test
lib/erl/ebin
lib/cpp/.deps
lib/cpp/*.la
lib/cpp/.libs
lib/cpp/*.lo
lib/cpp/Makefile
lib/cpp/Makefile.in
lib/cpp/*.o
lib/cpp/*.pc
lib/csharp/Makefile
lib/csharp/Makefile.in
lib/java/build
lib/java/libthrift.jar
lib/java/Makefile
lib/java/Makefile.in
lib/Makefile
lib/Makefile.in
lib/py/build
lib/py/Makefile
lib/py/Makefile.in
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
*.swo
*.swp
TAGS
test/Benchmark
test/DebugProtoTest
test/.deps
test/gen-cpp
test/java/build
test/java/gen-java
test/java/Makefile
test/java/Makefile.am
test/java/Makefile.in
test/java/thrifttest.jar
test/JSONProtoTest
test/*.la
test/.libs
test/*.lo
test/Makefile
test/Makefile.in
test/*.o
test/OptionalRequiredTest
test/py/gen-py
test/py/Makefile
test/py/Makefile.in
test/ReflectionTest
ylwrap
